{{#contentFor "meta"}}

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Mostofreddy | blog"/>
    <meta property="og:url" content="http://mostofreddy.com.ar"/>
    <meta property="og:site_name" content="Mostofreddy | blog"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:description" content="{{meta_description}}" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@mostofreddy"/>
    <meta name="twitter:creator" content="@mostofreddy"/>
    <meta name="twitter:description" content="{{meta_description}}"/>
    <meta name="twitter:title" content="Mostofreddy | blog"/>

{{/contentFor}}

{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}


{{! The main content area on the homepage }}
<main class="container container-main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}} post-list">

        <header class="post-header">
            <span class="post-meta text-info">
                <i class="fa fa-calendar text-info"></i> <time datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}}</time>
                &nbsp;<i class="fa fa-tag text-info"></i> {{tags prefix=""}}
            </span>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
        </header>

        <section class="post-excerpt">
            <p>{{excerpt characters="300"}}&hellip;</p>
        </section>

        <a href="{{url}}" class="btn btn-sm btn-readmore pull-right">Continuar leyendo <i class="fa fa-chevron-right "></i></a>

    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}

    <ul class="pager">

        {{#if pagination.prev}}
            <li class="previous"><a href="{{pageUrl pagination.prev}}">&larr; Newer</a></li>
        {{/if}}

        {{#if pagination.next}}
            <li class="next"><a href="{{pageUrl pagination.next}}">Older &rarr;</a></li>
        {{/if}}

    </ul>

</main>
