{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="container container-main" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <!-- meta for facebook / twitter / google -->

            <header class="post-header">
                <span class="post-meta text-info">
                    <i class="fa fa-calendar text-info"></i> <time datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}}</time>
                    &nbsp;<i class="fa fa-tag text-info"></i> {{tags prefix=""}}
                </span>
                <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            </header>

            <section class="post-content">
                {{content}}
            </section>


            <section class="author">
                <div class="authorimage" style="background: #f00 url({{author.image}}) no-repeat;"></div>
                <p class="attr">Author</p>
                <h4><a href="{{author.website}}">{{author.name}}</a></h4>
                <p class="bio">{{author.bio}}</p>
            </section>


            <!-- DISCUS
            --------------------------------------->
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'mostofreddy'; // required: replace example with your forum shortname
                var disqus_identifier = '{{id}}';
                var disqus_title = '{{{title}}}';
                //var disqus_url = '{{url}}';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


        {{/post}}

    </article>

</main>
